.life{
    width: 100%;
    background: #f6f6f6;
    padding: .5rem 2rem 0 2rem;
    img{
        display:inline-block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 14rem;
    }
}
.ideas{
    width: 100%;
    margin: 0 auto;
    background: #f6f6f6;
    padding: .5rem 1.5rem 0 1.5rem;
}