.content{
    width: 100%;
    h1{
        width: 80%;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        margin: .5rem auto;
        margin-bottom:1rem;
    }
    div{
        width: 80%;
        line-height: 1rem;
        margin: 0 auto;
        color:#000;
        text-indent: 2em;
    }
}