.detail {
    display: flex;
    justify-content: space-around;

    .detail-tags {
        width: 100%;
        text-align: center;
        overflow: hidden;
    }

    .detail-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1.44rem;
        background-color: #f6f6f6;
        border-top: .018rem solid #e7e7e7;
        z-index: 200;
        .detail-footer-box {
            display: flex;
            justify-content: space-around;
            a {
                height: 1.422rem;
                color: #5c6467;
                text-align: center;
    
                i {
                    display: block;
                    padding-top: .1rem;
                    height: .8rem;
                    line-height: .7rem;
                    font-size: .7rem;
                }
    
                b {
                    display: block;
                    height: .36rem;
                    line-height: .6rem;
                    font-size: .3rem;
                    font-weight: normal;
                }
            }
        }
    }
}