.DF{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 201;
  height: 1.44rem;
  background-color: #fff;
  .DF-box{
    height: 1.44rem;
    position: relative;
    padding-left: 5.14rem;
    .DF-btn-l{
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      a{
        display: block;
        float: left;
        width: 1.72rem;
        height: 1.44rem;
        text-align: center;
        border-right: .036rem solid #eee;
        border-top: .036rem solid #eee;
        overflow: hidden;
        color: #5c6467;
        position: relative;
        i{
          padding-top: .16rem;
          display: block;
          font-size: .7rem;
          line-height: .72rem;
        }
        b{
          display: block;
          font-size: .3rem;
          line-height: .32rem;
          font-weight: normal;
        }
        s{
          display: block;
          position: absolute;
          top: .13rem;
          right: .16rem;
          width: .41rem;
          height: .41rem;
          text-align: center;
          line-height: .41rem;
          font-size: .28rem;
          color: #fff;
          background-color: #f41e33;
          border-radius: 100%;
          text-decoration: none;
        }
      }
    }
    .DF-btn-r{
      overflow: hidden;
      a{
        display: block;
        width: 50%;
        height: 1.44rem;
        line-height: 1.44rem;
        text-align: center;
        font-size: .42rem;
        color: #fff;
        float: left;
      }
      .DF-r-a1{
        background-color: #333;
      }
      .DF-r-a2{
        background-color: #f41e33;
      }
      .DF-r-a0{
        display: none;
        width: 100%;
        color: #fff;
        background-color: #aaa;
      }
    }
  }
}