.header{
  width:100%;
  margin-top:.2rem;
  height:1.5rem;
  line-height: 1.5rem;
  .logo{
    width:10%;
    float:left;
    font-size: 1rem;
    padding-left:1rem;
  }
  .nav{
    display: flex;
    float: left;
    justify-content: space-around;
    width:60%;
    .active{
      color:red;
    }
    i{
      margin-right:.1rem;
    }
  }
  .search{
    width:20%;
    float:left;
  }
  .write{
    float:right;
    margin-right:1rem;
    i{
      margin-right:.1rem;
    }
  }
}