
@charset "utf-8";
/* CSS reset */
*, ::before, ::after {
  box-sizing: border-box;
}
body,div,p,a,table,textarea,form,input,img,ul,li,dl,dt,dd,h1,h2,h3,h4,h5.h6{margin:0;padding:0}

body{
  background-color: #eee;
  font-family: "微软雅黑";
  margin: 0;
  line-height: 100%;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}
html, body {
  min-height: 100%;
}
html {
  font-size: 30px;
}
html, button, input, select, textarea {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;
}
/*去除input默认样式*/
input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],input[type="password"]{-webkit-appearance:none;outline:none;/* border-radius:0; */}
input, textarea, select, button {font-family: inherit;font-weight: inherit;font-size: inherit;margin: 0}
input{outline-style: none;border: none;}

li{list-style:none;text-indent:0}
img,a img{border:0;max-width:100%;height:auto}

input{outline-style: none;}
/*和主站保持一致 */
a{color: #555;text-decoration: none;outline: 0;}

html {overflow: auto; overflow-y: scroll;text-size-adjust: 100%;-webkit-text-size-adjust:100%;}

/*common*/
.cl:after,.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.cl,.clearfix{zoom:1}

.loading{
  display: block;
  margin:10rem auto; 
}