
.register{
  width: 100%;
  .register-form {
    margin: 3.125rem auto;
    max-width: 18.75rem;
  }
}
.register-form-button {
  width: 100%;
}

.IdentifyCode-btn{
  position: relative;
  bottom:2.35rem;
  left:13.2rem;
}
