.forget {

    .forget-head {
        position: relative;
        height: 1.32rem;
        padding: 0 1.7rem;
        background-color: #fafafa;

        a {
            outline: 0;
        }

        .forget-back {
            display: block;
            width: 1.7rem;
            height: 1.32rem;
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            color: #f41e33;

            i {
                line-height: 1.32rem;
                font-size: .7rem;
            }
        }

        .forget-cont {
            h2 {
                line-height: 1.32rem;
                font-size: .6rem;
                color: #262626;
                text-align: center;
                font-weight: normal;
            }

            .forget-more {
                display: block;
                width: 1.9rem;
                height: 1.32rem;
                position: absolute;
                top: 0.3rem;
                right: 0;
                text-align: center;
                color: #999;

                .forget-dropdown-toggle {
                    display: block;
                    font-size: .8rem;
                    color: #999;
                }

                .forget-dropdown-content {
                    position: absolute;
                    top: 100%;
                    right: .32rem;
                    z-index: 200;
                    width: 3.64rem;
                    height: 3.7rem;
                    margin-top: .15rem;
                    background-color: rgba(0, 0, 0, 0.8);
                    border-radius: .12rem;
                    animation-duration: .15s;

                    .forget-arrow {
                        display: block;
                        position: absolute;
                        right: .5rem;
                        top: -0.12rem;
                        width: 0;
                        font-size: 0;
                        border-width: 0 .14rem .14rem .14rem;
                        border-style: solid;
                        border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
                    }

                    li {
                        height: 1.23rem;
                        line-height: 1.23rem;
                        border-bottom: .036rem solid rgba(77, 77, 77, 0.8);
                        font-size: .4rem;
                        text-align: left;

                        a {
                            display: block;
                            color: #fff;

                            i {
                                line-height: 1.4rem;
                                text-decoration: none;
                                font-size: .4rem;
                                margin: 0 .32rem 0 .2rem;
                                color: #999;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }

                    li:last-child {
                        border-bottom: none;
                    }
                }

                span {
                    line-height: 1.32rem;
                    font-size: .7rem;
                }
            }
        }
    }

    .forget-form {
        background: #fff;
        padding: 1rem;

        ul {
            display: flex;
            justify-content: space-around;

            li {
                margin:1rem 0;
            }
        }

        .identifyCode {
            position: relative;
            margin: 1rem 0;

            .identifyCode-btn {
                position: absolute;
                top: .25rem;
                right: .1rem;
                z-index: 2;
            }
        }
        .next{
            width: 100%;
        }
        .reset-password{
            margin: 1rem 0;
        }
    }

    .forget-call {
        width: 100%;
        text-align: center;
        font-size: .4rem;
        color: #666;
        clear: right;
        position: absolute;
        bottom: 4rem;
    }




}